{% extends "blog/base.html" %}
{% block content %}
<div class="centerstage">
  {# {% set row_class = cycler("left", "right") %} #}

  {% for post in post_list %}
  {#<div class="post post-row-{{ row_class.next() }}"> #}
  <div class="post">
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <div class="date">
      <p>Published on {{ post.published_date|date:"D d M Y"}}</p>
    </div>
    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>

  </div>
  {% endfor %}

</div>
{% endblock %}
